@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #ededed;
  background: #0a0a0a;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  width: 100%;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
